node_modules
.next
out
build
.DS_Store
*.pem

# env
.env
.env.local
.env*.local

# logs
npm-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
supabase/.branches
supabase/.temp

# arsip lokal, bukan bagian dari source
_to_delete/
